body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    width: 100%;
}

.page-wrapper nav {
    position: fixed;
    top: 6px;
    z-index: 100;
    display: block;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.nav-content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100px;
    right: 0px;
}

audio {
    position: absolute;
    right: 30px;
    top: 15px;
}

.nav-content h1 {
    position: absolute;
    top: 0;
    font-size: 50px;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-top: 0px;
    color: #fff;
}

.nav-content span {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    line-height: 60px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f25d8e;
    box-shadow: 0px 5px 10px #f25d8e;
}

.page-wrapper nav .nav-content span:nth-child(1) {
    transform: rotateZ(-15deg);
    color: royalblue;
    margin-left: 30px;
}
.page-wrapper nav .nav-content span:nth-child(2) {
    transform: rotateZ(10deg);
    color: salmon;
}
.page-wrapper nav .nav-content span:nth-child(3) {
    transform: rotateZ(-5deg);
    color: skyblue;
}
.page-wrapper nav .nav-content span:nth-child(4) {
    transform: rotateZ(5deg);
    color: tomato;
}
.page-wrapper nav .nav-content span:nth-child(5) {
    transform: rotateZ(-10deg);
    color: rgb(199, 43, 43);
}
.page-wrapper nav .nav-content span:nth-child(6) {
    transform: rotateZ(12deg);
    color: rgb(194, 162, 103);
}
.page-wrapper nav .nav-content span:nth-child(7) {
    transform: rotateZ(-15deg);
    color: violet;
}

.part-one {
    width: 100%;
    height: 750px;
    background: url(../images/sport-bg.jpg) no-repeat 0 0;
    background-size: 100%;
    transition: all 0.5s;
}

.part-one:hover {
    background-size: 105%;
}

.area-text {
    position: absolute;
    top: 300px;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    line-height: 100px;
    color: #f25d8e;
    font-size: 50px;
    font-weight: bold;
}

.part-two {
    width: 100%;
    height: 600px;
    border-bottom: 1px solid #ccc;
    min-width: 600px;
}

.part-two .two-content {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    min-width: 1200px;
}

.part-two .two-content h1 {
    width: 100%;
    height: 100px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
}

.part-two .two-content #graph-comment {
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

.video-recom {
    width: 100%;
    height: 550px;
    position: relative;
}

/* .icon-mark {
    position: absolute;
    top: 225px;
    left: 450px;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 10;
} */



/* .video-recom ul li .mark .play-dec {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27px;
    display: inline-block;
    width: 54px;
    height: 54px;
    background: url(../images/index-spr.png) no-repeat -707px -253px;
}

.video-recom ul li:hover .play-dec {
    animation: icon-rotate 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes icon-rotate {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
} */

.part-three {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: #fff;
    min-width: 1200px;
    height: 900px;
}

.three-cy {
    width: 900px;
    height: 900px;
    display: inline-block;
    background: url(../images/词云1.png) no-repeat 0 0;
    background-size: 100%;
    /* background-color: rgb(190, 151, 151); */
}

.three-text {
    width: 300px;
    height: 100%;
    display: inline-block;
    margin-left: -50px;
}

.three-text h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 450px;
}

.part-four {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    background-color: #fff;
    min-width: 1200px;
}

.part-four .four-cy {
    width: 800px;
    height: 800px;
    display: inline-block;
    background: url(../images/词云2.jpg) no-repeat 0 0;
    background-size: 100%;
}

.part-four .four-text {
    width: 400px;
    height: 100%;
    display: inline-block;
}

.four-text h1 {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-top: 350px;
}

.part-five {
    width: 100%;
    margin-top: 100px;
    min-width: 1200px;
}

.sex-vip {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

.sex-vip #vip-left {
    display: inline-block;
    width: 600px;
    height: 100%;
}

.sex-vip .vip-right {
    display: inline-block;
    width: 600px;
    height: 100%;
}

.sex-vip .vip-right h1 {
    width: 100%;
    height: 100%;
    line-height: 500px;
    text-align: center;
}

.user-level {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

.user-level .level-left {
    display: inline-block;
    width: 600px;
    height: 100%;
}

.user-level .level-left h1 {
    width: 100%;
    height: 100%;
    line-height: 500px;
    text-align: center;
}

.user-level #level-right {
    display: inline-block;
    width: 600px;
    height: 80%;
    margin-top: 5%;
}

#stoke-graph {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
}

